.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 0;
}

.grid-3-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 60%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid white;
  border-radius: 1em;
}

a {
  color: white;
}

button {
  background-color: white;
  border: 1px solid white;
  border-radius: 1em;
  color: black;
  padding: 5px 5px;
  margin-top: 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

button:hover {
  box-shadow: 2px 2px 5px white;
  font-weight: bold;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', serif;
  background-color: #555555;
  color: #ffffff;
}

.section-1 {
  padding-top: 20vh;
  padding-left: 5vw;
  text-align: center;
}

.section-1 p {
  font-size: 1.25rem;
  padding-bottom: 10px;
  margin: 0;
}

.section-1 a {
  font-size: 1.5rem;
  padding: 10px;
}

.section-2 {
  padding-top: 10vh;
  width: 90%;
}

.section-2 h2 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.section-2 span {
  font-weight: normal;
  font-size: 1rem;
}

.section-2 p {
  font-size: 1rem;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
}

#project-h1 {
  text-align: center;
  margin-bottom: 0;
}

.project {
  border-radius: 15px;
  background-color: #444444;
  margin: 5px;
}

.project:hover {
  background-color: #686868;
}

.project a {
  text-decoration: none;
}

.project h3,
.project p {
  margin: 1vw;
}

.project span {
  font-weight: normal;
}

@media (max-width: 768px) {
  .grid, .grid-3-projects {
    grid-template-columns: 1fr;
  }

  .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-1 {
    padding: 0;
    padding-top: 5rem;
  }

  .project h3, .project p {
    margin: 1em;
  }
  
  .section-2 {
    padding: 0;
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}
